<div class="logo">
    <img src="{{htmlSet.imagesFolder}}/logo.png" alt="{{copyRight.name}} Logo" />
</div>
<ul>
    <li><a {{#ifEquals name navNames.index}}class="active"{{/ifEquals}} href="/">{{navNames.index}}</a></li>
    <li><a {{#ifEquals name navNames.work}}class="active"{{/ifEquals}} href="/work">{{navNames.work}}</a></li>
    <li><a {{#ifEquals name navNames.contact}}class="active"{{/ifEquals}} href="/contact">{{navNames.contact}}</a></li>
    <li style="float:right"><a class="highlited" href="/about">{{navNames.about}}</a></li>
</ul>
