<div class="logo">
    <a href="/"><img alt="{{copyRight.name}} Logo" /></a>
</div>
<ul>
    <li><a{{#ifEquals name navNames.index}} class="active"{{/ifEquals}} href="/">{{navNames.index}}</a></li>
    <li><a{{#ifEquals name navNames.work}} class="active"{{/ifEquals}} href="/work">{{navNames.work}}</a></li>
    <li><a{{#ifEquals name navNames.contact}} class="active"{{/ifEquals}} href="/contact">{{navNames.contact}}</a></li>
    <li><a{{#ifEquals name navNames.messages}} class="active"{{/ifEquals}} href="/messages">{{navNames.messages}}</a></li>
    <li><a{{#ifEquals name navNames.about}} class="active"{{/ifEquals}} href="/about">{{navNames.about}}</a></li>
    <li style="float:right"><a class="highlited" href="https://github.com/szabolevi98/NodeJS-Express-Handlebars" target="_blank">{{navNames.highlited}}</a></li>
</ul>
