<meta charset="{{htmlSet.characterSet}}" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" href="{{htmlSet.cssFolder}}/main.css" />
{{#if style}}<link rel="stylesheet" href="{{htmlSet.cssFolder}}/{{style}}" />{{/if}}
<link rel="shortcut icon" type="image/x-icon" href="{{htmlSet.imagesFolder}}/favicon_blue.ico" />
<title>{{#if title}}{{title}}{{else}}Example{{/if}}</title>
