<!DOCTYPE html>
<html lang="hu">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/main.css">
    {{#if style}}<link rel="stylesheet" href="css/{{style}}">{{/if}}
    <title>{{#if title}}{{title}}{{else}}Example{{/if}}</title>
</head>
<body>
    <ul class="navUl">
        <li class="navLi"><a {{#ifEquals active 1}}class="active"{{/ifEquals}} href="/">Kezdőlap</a></li>
        <li class="navLi"><a {{#ifEquals active 2}}class="active"{{/ifEquals}} href="/work">Feladat</a></li>
        <li class="navLi"><a {{#ifEquals active 3}}class="active"{{/ifEquals}} href="/contact">Kapcsolat</a></li>
        <li class="navLi" style="float:right"><a class="highlited" href="/about">Rólunk</a></li>
    </ul>
    <div id="tartalom">
        <h2>{{name}}</h2>
        {{{body}}}
    </div>
    <footer>
        <p class="copyright">© {{copyRight.name}} {{copyRight.year}}</p>
    </footer>
</body>
</html>
