{{#if htmlSet.viewMessages}}
{{#if messagesList}}
<h4>A adatbázisban található üzenetek:</h4>
{{#if wrongSecretKey}}
<script>window.onload = function() { alert('Hibás a titkos kód!'); }</script>
{{/if}}
{{#if messageRemoved}}
<script>window.onload = function() { alert('Üzenet törölve!'); }</script>
{{/if}}
{{#each messagesList}}
<div class="messages">
    <form action="/messages" method="post" class="deleteForm">
            <p>
                <input type="hidden" value="{{this._id}}" name="_id" class="_id" />
                <b>Név:</b> {{this.name}}<br />
                <b>Email:</b> {{this.email}}<br />
                <b>Telefon:</b> {{this.phone}}<br />
                <b>Tárgy:</b> {{this.subject}}<br />
                <b>Üzenet:</b> {{this.comment}}<br />
                <!--<b>Dátum:</b> {{this.date}}-->
                <input type="text" name="secretKey" class="secretKey" placeholder="Titkos kód a törléshez" width="30px" /><input type="submit" value="Törlés" />
            </p>
    </form>
</div>
<br />
{{/each}}
<span>Ez az oldal a routes.config.js fájlban kikapcsolható.</span>
{{else}}
<h4>Az adatbázisban jelenleg nincs üzenet.</h4>
<button onclick="window.location.href='/';">Vissza a főoldalra</button>
{{/if}}
{{else}}
<h4>Az üzeneteket nem nézheted meg!</h4>
<button onclick="window.location.href='/';">Vissza a főoldalra</button>
{{/if}}
