{{#if htmlSet.viewMessages}}
{{#if messagesList}}
<h4>A <a href="/{{messageFileName}}">{{messageFileName}}</a> fájlban található üzenetek:</h4>
{{#each messagesList}}
<div class="messages">
    <p><b>Név:</b> {{this.name}}<br /><b>Email:</b> {{this.email}}<br /><b>Telefon:</b> {{this.phone}}<br />
    <b>Tárgy:</b> {{this.subject}}<br /><b>Üzenet:</b> {{this.comment}}</p>
</div>
<br />
{{/each}}
<span>Ez az oldal a routes.config.js fájlban kikapcsolható.</span>
{{else}}
<h4>A <a href="/{{messageFileName}}">{{messageFileName}}</a> fájlban nem található üzenet vagy a fájl nem létezik.</h4>
<button onclick="window.location.href='/';">Vissza a főoldalra</button>
{{/if}}
{{else}}
<h4>Az üzeneteket nem nézheted meg!</h4>
<button onclick="window.location.href='/';">Vissza a főoldalra</button>
{{/if}}