<p>Elemek kiiratása átlósan különböző táblázatokból.</p>
Alap táblázatok: <input class="spoilerbutton" type="button" value="Mutat" onclick="this.value=this.value=='Mutat'?'Elrejt':'Mutat';">
<div class="spoiler">
    <div>
        {{#each lists as |xValue xKey|}}
            <table><tr>
            {{#each xValue/items as |yValue yKey|}}
                <td>{{yValue}}</td>
            {{/each}}
            </tr>
            <tr>
            {{#each xValue/elements as |zValue zKey|}}
                <td>{{zValue}}</td>
            {{/each}}
            </tr></table><br />
        {{/each}}  
    </div>
</div>
<p>Megoldás első változat:</p>
<table>
    {{#each lists as |xValue xKey|}}
        {{#ifEquals xKey 0}}
            <tr>
            {{#each xValue/items as |yValue yKey|}}
                <td>{{yValue}}</td>
            {{/each}}
            </tr>
        {{/ifEquals}}
        {{#ifEquals xKey 1}}
            <tr>
            {{#each xValue/elements as |zValue zKey|}}
                <td>{{zValue}}</td>
            {{/each}}
            </tr>
        {{/ifEquals}}
    {{/each}}
</table>
<br />
<p>Megoldás második változat:</p>
<table>
    {{#each lists as |xValue xKey|}}
        {{#ifEquals xKey 0}}
            <tr>
            {{#each xValue/elements as |yValue yKey|}}
                <td>{{yValue}}</td>
            {{/each}}
            </tr>
        {{/ifEquals}}
        {{#ifEquals xKey 1}}
            <tr>
            {{#each xValue/items as |zValue zKey|}}
                <td>{{zValue}}</td>
            {{/each}}
            </tr>
        {{/ifEquals}}
    {{/each}}
</table>
<br />
