<p>Elemek kiiratása átlósan különböző táblázatokból.</p>
Alap táblázatok: <input class="spoilerbutton" type="button" value="Mutat" onclick="this.value=this.value=='Mutat'?'Elrejt':'Mutat';">
<div class="spoiler">
    <div>
        <table class="invisible">
            <tr class="invisible">
                <td class="invisible">
                    <table><caption>Táblázat 1</caption>
                        <tr>
                        {{#each lists.0.items }}
                            <td>{{this}}</td>
                        {{/each}}
                        </tr>
                        <tr>
                        {{#each lists.0.elements }}
                            <td>{{this}}</td>
                        {{/each}}
                        </tr>
                    </table>
                </td>
                <td class="invisible">
                    <table><caption>Táblázat 2</caption>
                        <tr>
                        {{#each lists.1.items }}
                            <td>{{this}}</td>
                        {{/each}}
                        </tr>
                        <tr>
                        {{#each lists.1.elements }}
                            <td>{{this}}</td>
                        {{/each}}
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </div>
</div>
<p>Megoldás első változat:</p>
<table>
    <tr>
    {{#each lists.0.items }}
        <td>{{this}}</td>
    {{/each}}
    </tr>
    <tr>
        {{#each lists.1.elements }}
        <td>{{this}}</td>
        {{/each}}
    </tr>
</table>
<p>Megoldás második változat:</p>
<table>
    <tr>
    {{#each lists.0.elements }}
        <td>{{this}}</td>
    {{/each}}
    </tr>
    <tr>
    {{#each lists.1.items }}
        <td>{{this}}</td>
    {{/each}}
    </tr>
</table>
<p>Bónusz: sorban minden érték</p>
<table>
    <tr>
    {{#each lists.0.items }}
        <td>{{this}}</td>
    {{/each}}
        {{#each lists.1.items }}
        <td>{{this}}</td>
    {{/each}}
    </tr>
    <tr>
    {{#each lists.0.elements }}
        <td>{{this}}</td>
    {{/each}}
        {{#each lists.1.elements }}
        <td>{{this}}</td>
    {{/each}}
    </tr>
</table>
